In [83]:
import pandas as pd
import numpy as np

In [84]:
train_data=pd.read_csv('atis_intents_train.csv', names=['intent', 'sentences'])
train_data.head()

             intent                                          sentences
0       atis_flight   i want to fly from boston at 838 am and arriv...
1       atis_flight   what flights are available from pittsburgh to...
2  atis_flight_time   what is the arrival time in san francisco for...
3      atis_airfare            cheapest airfare from tacoma to orlando
4      atis_airfare   round trip fares from pittsburgh to philadelp...

In [3]:
test_data=pd.read_csv('atis_intents_test.csv', names=['intent', 'sentences'])
test_data.head()

         intent                                          sentences
0   atis_flight   i would like to find a flight from charlotte ...
1  atis_airfare   on april first i need a ticket from tacoma to...
2   atis_flight   on april first i need a flight going from pho...
3   atis_flight   i would like a flight traveling one way from ...
4   atis_flight   i would like a flight from orlando to salt la...

In [4]:
import spacy

In [6]:
nlp=spacy.load('en')

In [40]:
X_train_shape=(len(train_data), 384)

In [41]:
X_train=np.zeros(X_train_shape)
i=0

In [42]:
for sentence in train_data['sentences']:
    X_train[i, :]=nlp(sentence).vector
    i+=1

In [44]:
len(X_train)

4834

In [31]:
X_train

array([], shape=(4834, 0), dtype=float64)

In [46]:
clf=SVC()

In [85]:
Y_train=train_data['intent']

In [86]:
set(Y_train)

{'atis_abbreviation',
 'atis_aircraft',
 'atis_airfare',
 'atis_airline',
 'atis_flight',
 'atis_flight_time',
 'atis_ground_service',
 'atis_quantity'}

In [87]:
temp={'atis_abbreviation':1,
 'atis_aircraft':2,
 'atis_airfare':3,
 'atis_airline':4,
 'atis_flight':5,
 'atis_flight_time':6,
 'atis_ground_service':7,
 'atis_quantity':8}

In [88]:
train_data['intent'].replace(temp, inplace=True)

In [89]:
Y_train

0       5
1       5
2       6
3       3
4       3
5       5
6       2
7       5
8       5
9       7
10      5
11      5
12      5
13      5
14      3
15      7
16      5
17      5
18      5
19      5
20      5
21      5
22      2
23      3
24      5
25      4
26      5
27      7
28      5
29      3
       ..
4804    5
4805    5
4806    2
4807    5
4808    5
4809    5
4810    4
4811    4
4812    5
4813    5
4814    5
4815    5
4816    3
4817    5
4818    5
4819    5
4820    4
4821    5
4822    4
4823    5
4824    7
4825    5
4826    5
4827    5
4828    5
4829    3
4830    5
4831    4
4832    5
4833    5
Name: intent, Length: 4834, dtype: int64

In [90]:
clf.fit(X_train, Y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [91]:
y_pred=clf.predict(X_train)

In [102]:
n_correct = 0
for i in range(len(Y_train)):
    if y_pred[i] == Y_train[i]:
        n_correct += 1

print("Predicted {0} correctly out of {1} test examples".format(n_correct, len(Y_train)))

Predicted 4238 correctly out of 4834 test examples